@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.solo-mobile {
  @include m.respond(md) {
    display: none !important;
  }
}

.solo-desktop {
  display: none !important;

  @include m.respond(md) {
    display: block !important;
  }
}

.texto-centrado-mobile {
  text-align: center;

  @include m.respond(md) {
    text-align: left;
  }
}

@media (max-width: 360px) {
  .hero__acciones {
    flex-direction: column;
    align-items: stretch;
  }
}
